@each $key, $value in $font-weights {
  .font-#{$key} {
    font-family: 'Montserrat-#{$value}'
  }
}


@mixin screen-and-down($size) {
  @if $size == sm {
    @media (max-width: #{map-get($grid-breakpoints, 'sm') - 0.02 }) {
      @content;
    }
  } 
  @else if $size == md {
    @media (max-width: #{map-get($grid-breakpoints, 'md') - 0.02 }) {
      @content;
    }
  }
  @else if $size == lg {
    @media (max-width: #{map-get($grid-breakpoints, 'lg') - 0.02 }) {
      @content;
    }
  }
  @else if $size == xl {
    @media (max-width: #{map-get($grid-breakpoints, 'xl') - 0.02 }) {
      @content;
    }
  }
}

