.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-center {
  @extend .absolute-full;
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.text-primary-color {
  color: $primary-color;
}
