@font-face {
  font-family: "Montserrat-Light";
  src: url("~@/assets/fonts/Montserrat-Light.ttf") format("ttf"),
  url("~@/assets/fonts/Montserrat-Light.woff") format("woff")
  ;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("~@/assets/fonts/Montserrat-Regular.ttf") format("ttf"),
  url("~@/assets/fonts/Montserrat-Regular.woff") format("woff")
  ;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("~@/assets/fonts/Montserrat-Medium.ttf") format("ttf"),
  url("~@/assets/fonts/Montserrat-Medium.woff") format("woff")
  ;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("~@/assets/fonts/Montserrat-Bold.ttf") format("ttf"),
  url('~@/assets/fonts/Montserrat-Bold.ttf') format("woff")
  ;
}

$font-weights: (
  "light": "Light",
  "regular": "Regular",
  "medium": "Medium",
  "bold": "Bold"
);

$primary-color: #474073;
$primary-lighter-color: #4F4D8C;
$secondary-color: #2E4159;
$accent-color: #8F8EBF;
$darker-color: #262626;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
