<template>
  <div class="c-base-modal d-flex flex-column">
    <div class="header">
      <slot
        name="header"
        v-if="$slots.header"
      ></slot>
      <div
        class="text-center"
        v-else
      >
        <span>{{ title }}</span>
      </div>
    </div>

    <div class="content my-2 p-0">
      <slot></slot>
    </div>

    <div class="footer d-flex justify-content-end align-items-center">
      <slot
        name="footer"
        v-if="$slots.footer"
      ></slot>
      <div v-else>
        <b-button @click="closeModal">Cancel</b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  },
  methods: {
    closeModal: function () {
      this.$store.dispatch('layout/closeModal')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-base-modal {
  height: inherit;
  max-height: 80vh;
  overflow-y: scroll;
  .header {
    span {
      color: $darker-color;
      font-size: 1.2rem;
      @extend .font-bold;
      text-transform: uppercase;
    }

    @include screen-and-down(sm) {
      span {
        font-size: 1rem;
      }
    }
  }

  .content {
    overflow-y: auto;
    flex: 1 1 auto;
  }
}
</style>
