<template>
  <base-modal :title="'Add this movie into Favorite list'">
    <div class="c-favorite-modal d-flex">
      <div class="col-4 p-0">
        <b-img
          class="movie__img"
          :src="getMoviePoster(movie.poster_path)"
        ></b-img>
      </div>

      <div class="col d-flex flex-column pr-0">
        <div class="movie__title">{{ movie.title }}</div>
        <div class="movie__desc col">{{ movie.overview }}</div>
      </div>
    </div>

    <template #footer>
      <b-button
        class="btn btn--cancel mr-2"
        @click="closeModal"
      >Cancel</b-button>
      <b-button
        class="bnt btn--ok"
        @click="addFavoriteMovies"
      >OK</b-button>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from './BaseModal.vue'
import MovieService from '../../mixins/movie'

export default {
  components: {
    BaseModal
  },
  mixins: [MovieService],
  props: {
    movie: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    closeModal: function () {
      this.$store.dispatch('layout/closeModal')
    },
    addFavoriteMovies: function () {
      this.$store.dispatch('addFavoriteMovies', this.movie)
      this.closeModal()
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  min-width: 100px;
  max-height: 40px;
  &--cancel {
    background: rgb(216, 216, 216);
    margin-right: 1rem;
  }

  &--ok {
    background: $primary-color;
  }
}

.c-favorite-modal {
  .movie__img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .movie__title {
    @extend .font-bold;
    color: $primary-color;
    font-size: 1.2rem;
  }

  .movie__desc {
    border: 1px solid rgb(221, 221, 221);
    margin: {
      top: 10px;
    }
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.85rem;
    max-height: 250px;
    overflow-y: scroll;
    text-align: justify;
  }

  @include screen-and-down(md) {
    .movie__title {
      font-size: 1rem;
    }

    .movie__desc {
      margin: {
        top: 5px;
      }
    }
  }
}
</style>
