<template>
  <base-modal>
    <div class="c-information-modal">
      <div class="movie-infos d-flex flex-wrap">
        <div class="movie-infos__poster col-md-4 col-sm-12 p-0">
          <b-img :src="getMoviePoster(movie.poster_path)"></b-img>
        </div>

        <div class="col p-0 ml-md-3 mt-2 d-flex flex-column">
          <div class="movie-infos__title">{{ movie.title }}</div>
          <div class="movie-infos__released-date">{{ movie.release_date }}</div>
          <div class="movie-genres">
            <b-badge
              class="mr-1"
              v-for="(item, i) in movie.genres"
              :key="i"
            >{{ item.name }}</b-badge>
          </div>
          <div class="movie-infos__rating">
            <b-icon
              icon="bookmark-star-fill"
              class="mr-1"
            ></b-icon>
            <span>{{ movie.vote_average }}</span>
          </div>

          <div class="movie-decs mt-2 col">
            <p>{{ movie.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </base-modal>
</template>

<script>
import MovieService from '../../mixins/movie'
import BaseModal from './BaseModal.vue'

export default {
  components: { BaseModal },
  mixins: [MovieService],
  props: {
    movieId: Number
  },
  data () {
    return {
      movie: {}
    }
  },
  mounted () {
    this.getMovieDetails(this.movieId, (data) => {
      this.movie = data
    })
  }
}
</script>

<style lang="scss" scoped>
.c-information-modal {
  max-height: 90vh;
  max-width: 600px;
  overflow-y: scroll;
  .movie-infos {
    &__poster {
      width: 100%;
      max-height: 400px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &__title {
      @extend .font-bold;
      color: $primary-color;
      font-size: 1.5rem;
    }

    &__released-date {
      font-size: 0.8rem;
      color: rgb(143, 143, 143);
    }

    .movie-genres {
      & > * {
        font-size: 0.75rem;
      }
    }

    &__rating {
      * {
        color: $primary-color;
        font-size: 1.8rem;
      }
    }

    @include screen-and-down(xl) {
      &__title {
        font-size: 1.2rem;
      }

      .movie-genres {
        & > * {
          font-size: 0.7rem;
        }
      }

      &__rating {
          * {
            font-size: 1.5rem;
          }
        }
    }
  }

  .movie-decs {
    min-height: 110px;
    overflow-y: scroll;
    border: 1.5px solid rgb(223, 223, 223);
    border-radius: 10px;
    padding: 5px 10px;
    p {
      font-size: 0.85rem;
      color: $darker-color;
      text-justify: inter-word;
      text-align: justify;
    }
  }
}
</style>
