<template>
  <b-card
    tag="div"
    class="c-movie-item mb-2"
  >
    <div
      class="movie-poster"
      @mouseover.once="onMouseHover"
    >
      <div class="img-content">
        <div
          ref="imgActions"
          class="d-none"
        >
          <button-icon
            :rounded="true"
            :icon="{ name: 'eye'}"
            :click="() => openModal('TRAILER')"
          ></button-icon>
          <button-icon
            class="mx-3"
            :rounded="true"
            :icon="{ name: 'info-circle'}"
            :click="() => openModal('INFO')"
          ></button-icon>
          <button-icon
            :class="`${isFavorite(movie.id) ? 'bg-danger' : ''}`"
            :rounded="true"
            :icon="{ name: 'heart'}"
            :click="() => openModal('FAVORITE')"
          ></button-icon>
        </div>
      </div>

      <b-card-img
        class="movie-poster__img"
        top
        :src="getMoviePoster(movie.poster_path)"
      >
      </b-card-img>
    </div>
    <b-card-title class="mt-1 movie__title">
      {{ movie.title }}
      <b-badge
        variant="transparent"
        v-if="isFavorite(movie.id)"
      >
        <b-icon
          icon="heart-fill"
          class="text-primary-color"
        ></b-icon>
      </b-badge>
    </b-card-title>
    <b-card-sub-title class="movie__subtitle">{{ releasedYear }}</b-card-sub-title>
  </b-card>
</template>

<script>
import { mapGetters } from 'vuex'
import ButtonIcon from '../ButtonIcon.vue'
import MovieService from '../../mixins/movie'

export default {
  components: {
    ButtonIcon
  },
  mixins: [MovieService],
  computed: {
    ...mapGetters({
      isFavorite: 'isFavorite'
    }),
    releasedYear: function () {
      return this.movie.release_date ? this.movie.release_date.split('-')[0] : ''
    }
  },
  props: {
    movie: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    openModal: function (type) {
      const setModalComponent = (component, props, styles = undefined) => {
        this.$store.dispatch('layout/openModal', { component, props, styles })
      }
      switch (type) {
        case 'TRAILER':
          setModalComponent(() => import('./TrailerModal.vue'), { movieId: this.movie.id }, { size: 'lg' })
          break
        case 'INFO':
          setModalComponent(() => import('./InformationModal.vue'), { movieId: this.movie.id })
          break
        case 'FAVORITE':
          if (this.isFavorite(this.movie.id)) {
            this.$store.dispatch('removeFavoriteMovies', this.movie.id)
          } else {
            setModalComponent(() => import('./FavoriteModal.vue'), { movie: this.movie })
          }
          break
      }
    },
    onMouseHover: function () {
      this.$refs.imgActions.classList = ['animated--hide-up']
    }
  }
}
</script>

<style lang="scss" scoped>
.animated--hide-up {
  animation: hideUp 0.3s ease forwards;
}

@keyframes hideUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes behindToFront {
  from {
    z-index: 0;
  }
  to {
    z-index: 2;
  }
}

.c-movie-item {
  border: none;
  .movie {
    &-poster {
      transition: 0.2s ease-out;
      position: relative;

      &:hover {
        cursor: pointer;

        .movie-poster__img {
          z-index: 0;
          filter: brightness(0.5);
          transition: 0.2s ease-in;
        }

        .img-content {
          animation: behindToFront 0.3s ease forwards;
          & > div {
            animation: dropDown 0.3s ease forwards;
          }
        }
      }

      &__img {
        object-fit: cover;
        max-height: 500px;
      }

      .img-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
    }
  }

  .movie__title {
    font-size: 1.2rem;
    @extend .font-regular;
  }

  .movie__subtitle {
    font-size: 0.9rem;
  }

  @include screen-and-down(xl) {
    .movie__title {
      font-size: 0.9rem;
    }

    .movie__subtitle {
      font-size: 0.7rem;
    }
  }

  @include screen-and-down(lg) {
    .movie__title {
      font-size: 1rem;
    }

    .movie__subtitle {
      font-size: 0.8rem;
    }
  }

  @include screen-and-down(md) {
    .movie__title {
      font-size: 1.5rem;
    }

    .movie__subtitle {
      font-size: 1.1rem;
    }
  }
}
</style>
