<template>
  <div class="c-trailer-modal">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="video-frame"
        :src="`https://www.youtube.com/embed/${videoKey}`"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</template>

<script>
import MovieService from '../../mixins/movie'
export default {
  mixins: [MovieService],
  props: {
    movieId: Number
  },
  data () {
    return {
      videoKey: ''
    }
  },
  mounted () {
    this.getMovieTrailer(this.movieId, (data) => {
      this.videoKey = (() => {
        const youtubeTrailer = data.results.find(item => item.site.toLowerCase() === 'youtube' && item.type.toLowerCase() === 'trailer')

        return youtubeTrailer ? youtubeTrailer.key : null
      })()
    }
    )
  }
}
</script>

<style lang="scss" scoped>
.c-trailer-modal {
  .video-frame {
    width: 100%;
    height: 100%;
  }
}
</style>
