<template>
  <div class="c-footer shadow text-center d-flex justify-content-center align-items-center">
    <span>lequocphuvt0901@gmail.com</span>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.c-footer {
  min-height: inherit;
  height: inherit;
  background-color: $primary-color;

  span {
    color: white;
    @extend .font-bold;
  }
}
</style>
