<template>
  <b-modal
    centered
    v-model="hasModalOpened"
    hide-header
    hide-footer
    :size="modal.styles.size"
    modal-class="c-modal"
  >
    <component
      :is="modal.component"
      v-bind="modal.props"
    ></component>
  </b-modal>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      modal: state => state.layout.modal
    }),
    hasModalOpened: {
      get: function () {
        return this.modal.isOpen
      },
      set: function (isOpen) {
        if (!isOpen) {
          this.$store.dispatch('layout/closeModal')
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.c-modal {
  max-width: 600px;
}
</style>
