<template>
  <b-navbar class="c-nav d-flex justify-content-between px-md-5 py-3" fixed="top">
    <div class="nav__brand d-flex align-items-center">
      <b-icon
        icon="bootstrap"
        class="mr-2"
      ></b-icon>
      <span>Films</span>
    </div>

    <div class="nav__favorite">
      <b-button @click="openFavoriteList" class="btn">
        <div class="d-flex align-items-center">
          <span class="mx-1">My movies</span>
          <b-badge class="btn__badge">{{ totalFavoriteMovies }}</b-badge>
        </div>
      </b-button>
    </div>
  </b-navbar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'totalFavoriteMovies'
    ])
  },
  methods: {
    openFavoriteList: function () {
      this.$store.dispatch('layout/openSidebar')
    }
  }
}
</script>

<style lang="scss" scoped>
.c-nav {
  background: $primary-color;
  color: white;

  .nav__favorite {
    .btn {
      background: white;
      color: $primary-color;
      @extend .font-bold;

      &__badge {
        background: $primary-color;
      }
    }
  }
}
</style>
