<template>
  <b-sidebar
    v-model="sidebar.isOpen"
    right
    shadow
  >
    <div class="c-sidebar">
      <div
        class="movie-list d-flex flex-wrap"
        v-if="favoriteMovies.length"
      >
        <div
          class="movie-item mb-2 col-12 d-flex align-items-center justify-content-around"
          v-for="(movie, i) in favoriteMovies"
          :key="i"
        >
          <div class="movie-item__poster col-4 p-0">
            <b-img :src="getMoviePoster(movie.poster_path)"></b-img>
          </div>
          <div class="movie-content col">
            <div class="movie-content__title">{{ movie.title }}</div>
            <div class="movie-content__desc">{{ movie.overview }}</div>
            <div class="d-flex">
                <b-button class="btn btn--details mt-2 mr-1" @click="showMovieDetails(movie.id)">Details</b-button>
                <b-button class="btn btn--remove mt-2" @click="removeFavorite(movie.id)">Remove</b-button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="movie-list--empty absolute-center"
        v-else
      >
        <div class="d-flex justify-content-center align-items-center">
          <b-icon
            icon="archive"
            class="mr-2"
          ></b-icon>
          <span>Empty list</span>
        </div>
      </div>
    </div>
  </b-sidebar>

</template>

<script>
import { mapState } from 'vuex'
import MovieService from '../../mixins/movie'

export default {
  mixins: [MovieService],
  computed: {
    ...mapState({
      favoriteMovies: state => state.favoriteMovies,
      sidebar: state => state.layout.sidebar
    })
  },
  methods: {
    showMovieDetails: function (movieId) {
      this.$store.dispatch('layout/openModal', { component: () => import('../movies/InformationModal.vue'), props: { movieId } })
    },
    removeFavorite: function (movieId) {
      this.$store.dispatch('removeFavoriteMovies', movieId)
    }
  }
}
</script>

<style lang="scss" scoped>
.c-sidebar {
  height: 100%;
  .movie-list {
    .movie-item {
      min-height: 100px;
      max-height: 100%;
      z-index: 1;

      // &:hover {
      //   background: $accent-color;
      // }
      &__poster {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .movie-content {
        height: 100%;

        &__title {
          @extend .font-bold;
        }

        &__desc {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          font-size: 0.8rem;
          overflow: hidden;
        }
      }
    }

    .btn {
      font-size: 0.7rem;
      &--details {
        background: $primary-color;
      }

      &--remove {
        background: rgb(189, 189, 189);
        border: none;
      }
    }
  }

  .movie-list--empty {
    font-size: 1.1rem;
    color: rgb(190, 190, 190);
    z-index: -1;
  }
}
</style>
