<template>
  <b-button
    :class="`c-btn ${rounded && 'c-btn--rounded'} c-btn--${inverted ? 'inverted' : 'primary'}`"
    @click="click"
  >
    <div>
      <b-icon
        :icon="icon.name"
        v-if="icon.name"
      ></b-icon>
      <span v-if="label">{{ uppercased ? label.toUpperCase() : label }}</span>
    </div>
  </b-button>
</template>

<script>
export default {
  props: {
    icon: Object,
    default: () => ({
      name: null
    }),
    label: {
      type: String,
      default: ''
    },
    uppercased: {
      type: Boolean,
      default: false
    },
    inverted: {
      type: Boolean,
      default: false
    },
    rounded: {
      type: Boolean,
      default: false
    },
    click: {
      type: Function,
      default: () => null
    }
  }
}
</script>

<style lang='scss' scoped>
.inverted {
  background-color: rgba($color: #ffff, $alpha: 0.2);
  * {
    color: white;
  }
}
.c-btn {
  &--rounded {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
    & > * {
      font-size: 0.95rem;
    }

    @include screen-and-down(xl) {
      height: 2rem;
      width: 2rem;
      & > * {
        font-size: 0.7rem;
      }
    }

    @include screen-and-down(lg) {
      height: 2.4rem;
      width: 2.4rem;
      & > * {
        font-size: 0.9rem;
      }
    }

    @include screen-and-down(md) {
      height: 3rem;
      width: 3rem;
      & > * {
        font-size: 1rem;
      }
    }
  }

  &--primary {
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    color: white;
  }

  &--inverted {
    @extend .inverted;
  }

  &:hover {
    @extend .inverted;
  }
}
</style>
