<template>
  <div
    id="app"
    class="d-flex flex-column justify-content-between"
  >
    <div class="nav">
      <nav-bar></nav-bar>
    </div>

    <div class="body flex-grow-1 py-5 d-flex justify-content-center">
      <div class="body-container">
        <b-form-row v-if="!movies.fetching">
          <b-col
            lg="3"
            md="4"
            v-for="(movie, i) in movies.data"
            :key="i"
          >
            <movie-item :movie="movie"></movie-item>
          </b-col>
        </b-form-row>

        <div
          class="page--loading"
          v-else
        >
          <b-spinner label="Spinning"></b-spinner>
        </div>
      </div>
    </div>

    <div class="footer">
      <page-footer></page-footer>
    </div>

    <modal></modal>
    <sidebar></sidebar>
  </div>
</template>

<script>
import NavBar from './components/layout/NavBar.vue'
import PageFooter from './components/layout/Footer.vue'
import Sidebar from './components/layout/Sidebar.vue'
import Modal from './components/layout/Modal.vue'
import MovieItem from './components/movies/MovieItem.vue'

import MovieService from './mixins/movie'

export default {
  name: 'App',
  mixins: [MovieService],
  components: {
    NavBar,
    Sidebar,
    Modal,
    PageFooter,
    MovieItem
  },
  data () {
    return {
      movies: {
        fetching: false,
        data: [],
        error: null
      }
    }
  },
  mounted () {
    this.movies.fetching = true
    this.getTrendingMovies((data) => {
      this.movies = {
        data: data.results,
        fetching: false
      }
    },
    () => {
      this.movies.fetching = false
      this.movies.error = 'Some errors have occur. Please reload page and try again!'
    }
    )
  }
}
</script>

<style lang="scss">
body {
  min-height: 100vh;
}

#app {
  background-color: white;
  font-family: "Montserrat-Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: inherit;
}

.nav {
  min-height: 50px;
  width: 100%;
  background-color: #faf3e0;
  > * {
    width: 100%;
  }

  &__brand {
    font-size: 2rem;
    cursor: pointer;

    span {
      font-size: 1.5rem;
      @extend .font-bold;
    }
  }

  .stores-btns {
    &__btn {
      height: 50px;
      width: 50px;
    }
  }
}

.body {
  position: relative;
  width: 100%;
  &-container {
    max-width: 75%;

    @include screen-and-down(xl) {
      max-width: 80%;
    }

    @include screen-and-down(lg) {
      max-width: 90%;
    }

    @include screen-and-down(md) {
      max-width: 95%;
    }
  }

  span {
    color: white;
  }

  .page--loading {
    @extend .absolute-center;
    & > * {
      color: $primary-color;
      height: 50px;
      width: 50px;
    }
  }
}

.footer {
  min-height: 50px;
}
</style>
